---
import Featured from "../components/Featured.astro";
import Hero from "../components/Hero.astro";
import Overview from "../components/Overview.astro";
import Products from "../components/Products.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro">
	<main class="container mx-auto p-2 md:p-4">
		<Hero />

		<Overview />

		<Products />

		<Featured />
	</main>
</Layout>

<style is:global></style>
