<section class="Featured">
	<div class="container mx-auto">
		<div class="Featured__content flex gap-4">
			<div class="main flex-1">
				<div class="card -shd h100 space-y-4">
					<a
						href="/homepage?utm_source=metastock&utm_medium=banner1&utm_campaign=homepage"
						><img
							src="https://metastock-web.azureedge.net/i/070120-home-sub-hero.jpg"
							class="inl ctr"
							style="max-width:420px; width:100%; height:auto"
							alt="Image of Man looking at laptop"
						/>
					</a>
					<h2 class="title">Discover the SECRETS of Successful Traders</h2>
					<p class="body">
						Learn what professional traders have known for years, and bring your
						trades to a new level. Nine contributors, 50+ pages.
					</p>
					<div class="acts">
						<a
							class="btn btn-primary act bl"
							href="/homepage?utm_source=metastock&utm_medium=banner1&utm_campaign=homepage"
							>Download your FREE eBook!</a
						>
					</div>
				</div>
			</div>
			<div class="other flex-1 space-y-4">
				<div class="card -shd">
					<h3 class="title">Get your extended trial of MetaStock today!</h3>
					<p class="body">
						It's time to discover the award-winning PowerTools in MetaStock.
						Scan the markets, test your systems, manage your lists, forcast
						prices... and more.
					</p>
					<div class="acts">
						<a
							href="/p1022?utm_source=metastock&utm_medium=seminars2&utm_campaign=p1022"
							>Get 3 months for the price of 1</a
						>
					</div>
				</div>

				<div class="card -shd">
					<h3 class="title">100's of Informative Videos</h3>
					<p class="body">
						Have you checked out our YouTube page? There are videos on just
						about any trading subject you can think of
					</p>
					<div class="acts">
						<a
							href="https://www.youtube.com/metastock?utm_source=metastock&utm_medium=banner3&utm_campaign=youtube"
							>Subscribe to our YouTube Channel</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.btn-primary {
		@apply bg-blue-600 hover:bg-blue-700 focus:bg-blue-700 active:bg-blue-800;
	}
</style>
