---
const headline = "Metastock is some good stuff";
---

<section class="overview md:grid gap-4 grid-cols-[1.618fr_1fr]">
	<div class="blurb space-y-5">
		<h1 class="headline text-2xl text-[var(--accent-color)]">
			{headline}
		</h1>
		<p>
			The result is buy and sell signals you can count on. We have options for
			day traders, swing traders and EOD traders to trade stocks, options,
			futures, FOREX and more. Try MetaStock and we are confident you’ll agree
			that it’s the best charting software available to the private trader.
		</p>
		<p>
			MetaStock has been providing award-winning charting and analysis tools for
			the self-directed trader for over 30 years. Capitalizing on technical
			analysis, our line of trading software and market data are designed for
			active traders of all levels so they can backtest, scan and analyze the
			markets with confidence.
		</p>
		<div class="cta block md:flex flex-wrap justify-evenly">
			<a
				href="#"
				class="btn block px-4 py-2 rounded-md shadow-lg text-white bg-[var(--primary-color)]"
				>Learn something</a
			>
			<a
				href="#"
				class="btn block px-4 py-2 rounded-md shadow-lg text-white bg-[var(--accent-color)]"
				>Get something</a
			>
		</div>
	</div>
	<div class="media flex justify-center">
		<picture>
			<source srcset="/images/ms-monitor-417px.avif" type="image/avif" />
			<source srcset="/images/ms-monitor-417px.webp" type="image/webp" />
			<img
				src="/images/ms-monitor-417px.png"
				alt="MetaStock Monitor"
				width="417"
				height="348"
				loading="lazy"
			/>
		</picture>

		<!-- <img
					class="w-full h-full max-w-[417px] inline-block aspect-[139:116]"
					src="https://www.metastock.com/images/w/MS-Montor-417px.png"
					alt=" Monitor showing MetaStock running"
				/> -->
	</div>
</section>
